// .page-header h3 {
//   margin: auto;
//   margin-top: 55px;
//   height: 92px;
//   width: 328px;
//   font-family: 'Epilogue';
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 46px;
//   letter-spacing: 4px;
//   text-align: center;
// }

@media (min-width: @tablet-width) {
  .page-header h3 {
    font-family: 'MontserratBolt';
    height: 156px;
    width: 560px;
    font-size: 64px;
    line-height: 78px;
  }
}

@media (min-width: @desktop-width) {
  .page-header h3 {
    margin-top: 40px;
    margin-left: 440px;
    font-family: 'MontserratBolt';
    height: 156px;
    width: 560px;
    font-size: 64px;
    line-height: 78px;
  }
}

.page-header__title {
  // align-self: end;
  margin: 193px auto 20px;
  // padding-left: 7%;
  font-family: 'Montserrat700';
  font-size: 36px;
  text-align: center;
  line-height: 40px;

}

.page-header__discription {
  // align-self: center;
  margin: 0 auto;
  font-family: 'inter400';
  font-size: 14px;
  text-align: center;
  line-height: 24px;


}

// .page-header p {

//   margin: 0 auto;
//   // margin-top: -115px ;
//   // height: 0 auto;
//   padding: auto;
//   width: auto;
//   font-family: 'Inter';
//   font-weight: 400;
//   font-size: 14px;
//   text-align: center;
// }

@media (min-width: @tablet-width) {
  .page-header p {
    height: 60px;
    width: 560px;
    font-size: 17px;
    line-height: 30px;
  }
}

